.search input{
    border:1px solid rgb(255, 129, 249);
    border-radius: 20px;
    height: 28px;
    padding:10px;
    font-size: 12px;
    color:black;
    width: 250px;
    z-index: 1;
    
}
.search input:focus{
    outline: none;
}

.searchIcon{
    margin-left: 20px;
    margin-right: 0;
    transform: scale(0.9);
}


@media (max-width:1050px) {
    .search input{
        width: 200px;
    }
}

@media (max-width:900px) {
    .search input{
        width: 100px;
        
    }
}

@media (max-width:750px) {
    .search input{
        width: 200px;
        margin-right: 20px;
       
    }
}
@media (max-width:450px) {
    .search input{
        width: 75px;       
    }
}
