.home{
   width: 1000px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   margin-left:40px;
   padding-top:50px;
}

.homeMessage{
    margin-top:100px;
    margin-bottom:20px;
    font-size: 20px;
    border-bottom: 1px solid rgb(255, 119, 210);
}
.stat{
    display: flex;
    align-items: center;
    margin:0px 0px 30px 0px;
}
.stat button{
    width:100px;
    height:40px;
    padding:10px;
    margin-left:20px;
    border: none;
    background-color: rgb(255, 198, 255);
    color:black;
    border-radius: 5px;
    transition:0.3s;
}
.stat button:hover{
   transform: scale(1.1);
}
.count{
    width:700px;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px;
    border:1px solid pink
}