.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #A9A9A9;
    border-top: 0;
}
.sidebarOptions{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebarOption{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 12px;
    border: 1px solid #A9A9A9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px; 
    cursor: pointer;
    transition: 0.3s;
}
.sidebarOption p{
    margin-bottom:0;
}

.sidebar{
    font-size: max(1vw,10px );
}
.sidebarOption img{
    width: 20px;
}

.sidebarOption.active {
    background-color: #ffedfb;
    border-color: #ff24a4;
}
@media (max-width:900px) {
    .sidebarOption p{
       display: none;
    }
}