.appDownload {
    margin: 100px auto;
    font-size: max(3vw, 20px);
    text-align: center;
    font-weight: 500;
}

.appDownloadPlatforms{
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;
}
.appDownloadPlatforms img{
   width:100px;
   transition: 0.5s;
   cursor: pointer;
}
.appDownloadPlatforms img:hover{
    transform: scale(1.05);
 }