.listTableFormat{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
p{
    margin-bottom:0;
}
.listTableFormat.title{
    background-color: #f9f9f9;
}
.listTableFormat img{
    width: 70px;
}
@media(max-width:600px){

    .listTableFormat{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .listRableFormat.title{
        display: none;
    }
}